.landscape {
	/*max-width: 100%;
	height: auto;*/
	object-fit: contain;
	width: 100vw;
	height: auto;
	/*animation: fadeIn 2s cubic-bezier(0.4, 0.0, 0.2, 0.1);*/

}

.portrait {
	object-fit: contain;
	width: auto;
	height: 100vh;
}

/*@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}*/

/*@media screen and (orientation: portrait) {
	.landscape {
		object-fit: contain;
		width: auto;
		height: 100vh;
	}
}*/