.verse {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	color: white;
	text-shadow: 1px 1px black;
	font-size: 22px;

	filter: drop-shadow(30px 30px 30px black);
}

.ref {
	font-size: 14px;
}

